.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.background {
  transition: stroke 0.3s ease;
}

.progress {
  transition: stroke-dasharray 0.5s ease;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 14px;
  font-weight: 600;
  color: #1f2937;
}
