/*
 * Style in CSS Modules.
 */
body{
  user-select: none;
}
:global(.adm-list-body){
  /* max-height: 400px; */
  overflow-y: auto;
}

:global(.adm-popup-body h4){
  margin: 0;
}

:global(.question li) {
  line-height: 32px;
}

:global(.adm-capsule-tabs-content p){
  line-height: 28px;
}

:global(.contact .adm-list-item-content-main) {
  margin: 20px;
}

.wraplist{
  :global(.adm-list-body){
    /* max-height: 500px; */
    overflow-y: auto;
  }
}

.avatarWrap{
  p{
    margin: 0;
  }
}


 .app{
  /* background-color: #f0f2f5; */
  background-color: var(--ifm-color-area);
  /* align-items: center; */
  display: flex;
  color: var(--ifm-color-content-secondary);
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 30px 24px 0 24px;
  .container{
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(1,100%);
    margin-bottom: 40px;
    margin-top: 20px;
    min-width: 100%;
    .card{
      color: var(--ifm-color-title);
      background: var(--ifm-color-background);
      text-decoration: none;
      /* background-color: var(--ifm-color-area); */
      border-radius: 7px;
      box-shadow: 0 9px 33px rgba(0,0,0,.05);
      display: flex;
      height: 160px;
      position: relative;
      z-index: 1;
      &:hover{
        box-shadow: 0 5px 6px rgba(0,87,255,.261);
        transition: .3s;
        color: #fff;
        text-decoration: none;
        &:after{
          opacity: 1;
        }
      }
      &:after{
        background: linear-gradient(121.13deg,#1395fe 50.91%,#1e72ff 119.06%);
        border-radius: 7px;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: .3s;
        width: 100%;
        z-index: 2;
      }
      .content{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 10px 30px;
        overflow: hidden;
        position: relative;
        z-index: 3;
      }
      h3{
        font-size: 21px;
        margin-bottom: 14px;
      }
      span{
        font-size: 14px;
        opacity: .85;
      }
    }
  }
  pre{
    overflow-y: auto;
    min-height: 400px;
    display: block;
    word-wrap: break-word;
    white-space: break-spaces;
  }
 }


 .listicon{
   position: relative;
   img{
    background: #d7d7d7;
   }
   :global(svg){
      position: absolute;
      right: 0;
      top: 0;
   }
 }

.listitem, .defs{
  position: relative;
  :global(.antd-mobile-icon) {
    position: absolute;
    right: 5px;
    bottom: 0;
  }
}

 .wraptime{
   border: 1px dashed #eee;
   padding: 10px 20px;
   margin: 0 20px;
 }
 .wraplist{
   :global(.adm-list-item-content) {
     position: relative;
   }
   :global(.adm-list-item){
    min-height: 160px;
    font-size: 12px;
   }
   .desx{
     color: #999;
     margin-left: 10px;
   }
   .des{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
   }
 }
 .wrapdiscord{
   border: 1px dashed #eee;
   padding: 5px 20px;
   margin: 5px 20px;
   margin-bottom: 50px;
 }
 .wrapol{
  padding: 0 10px;
  color: #666;
  line-height: 2;
 }
.rtimes{
  position: absolute;
    right: 18px;
    color: #a27979;
}
.pos_list {
  :global(.adm-tag) {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .pos_list_label{
    font-style: normal;
    border: 1px dashed #eee;
    padding: 2px;
  }
  .pos_list_block{
    display: inline-block;
    max-width: 270px;
    vertical-align: top;
  }
}
.add{
  margin-top: 40px;
  font-size: 18px;
}